    <div class="container_categories_items">
        <ul class="items_categories grid">
            <div class="grid-sizer"></div>
            {% for category in categories %}
            <li class="grid-item product_container">
                <div class="item">
                    <img src="{{ category.image }}" alt="">
                    <div class="name_product">
                        <strong><a href="{{ path('category', {'slug':category.page.slug}) }}">{{ category.name }}</a></strong>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>